<div class="h-100 overflowy">
    <div>
        <app-miniheader></app-miniheader>
    </div>
    <div class="container-fluid my-lg-0 my-4" class="h95">
        <div class="row h-100">
            <div class="col-lg-6 h-100 d-flex justify-content-center align-items-center my-lg-0 my-2">
                <div style="width: -webkit-fill-available;">
                    <!-- <img src="assets/userimg.png" alt="" class="img-fluid"> -->
                    <!-- <lottie-animation-view [options]="lottieConfig" 
                        (animCreated)="handleAnimation($event)">
                    </lottie-animation-view> -->

                </div>
            </div>
            <div class="col-lg-6 d-flex h-100 justify-content-center align-items-center my-lg-0 my-2">
                <div>
                    <img src="assets/logo23a.png" alt="" class="img-fluid" width="400">

                    <div class="d-flex justify-content-center align-items-center my-4">
                        <form action="" class="form50 px-lg-0 px-2" (ngSubmit)="ulogin(formRef.value)"
                            #formRef="ngForm">
                            <h6 class="mb-4">STAFF LOGIN</h6>
                            <div class="form-group">
                                <input required ngModel name="username" type="text"
                                    class="form-control border-0 shadow inprounded" placeholder="User Name" value="">
                            </div>
                            <div class="form-group">
                                <input required ngModel name="password" type="password"
                                    class="form-control border-0 shadow inprounded" placeholder="Password" value="">
                            </div>
                            <div class="clearfix ">
                                <a href="#" class="float-right text-dark">Forgot Password?</a>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <!-- <button class="btn btnbg bgprimary px-5">
                                    <img src="assets/play.png" alt="" class="img-fluid">
                                </button> -->
                                <!-- <input [disabled]="formRef.invalid" type="submit"
                                    class="btn btnbg bgprimary px-5 text-white" value="Login" /> -->
                                <input [routerLink]="'/module'" type="submit" class="btn btnbg bgprimary px-5 text-white"
                                    value="Login" />
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>