.cardbdr {
  border-radius: 10px;
}
.inpround {
  border-radius: 30px;
}
.bglight {
  background-color: #f9f9f9;
}
.imground {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid #ccc;
}
.min-time-example,
.max-time-example {
  z-index: 1000;
}
.imgnew {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}
.overx {
  overflow-x: hidden;
  overflow-y: auto;
}

// input[type="date"]::before{
//     // color: #ffffff;
//     content: attr(placeholder) ": ";
//  }
//  input[type="date"]:focus::before {
//     content: "" !important;
//  }
