.bglightt{
    background-color:#F1F1F1;
    overflow-x: hidden !important;
   
}
.h80{
    height: 100%;
}
@media(min-width:768px){
    .h-80{
        height: 86.6%;
        // overflow-y: auto;
        }
}
h-80{
    height: 100%;
}

