<!-- The Modal -->
<div class="modal" id="createpora">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header border-0 align-items-center py-1">
                <div>
                    <h6 class="mb-0">ITEM LIST</h6>
                </div>
                <div>
                    <button type="button" class="close btn" data-dismiss="modal">

                        <img src="assets/close_btn.png" alt="" class="img-fluid" width="40">
                    </button>
                </div>

            </div>

            <!-- Modal body -->
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-lg-7 bglight">
                        <div class="pmodal">
                            <div class="pdialog">
                                <div class="pcontent">
                                    <div class="pheader py-2">
                                        <h6 class="mb-0">AVAILABLE ITEMS</h6>
                                    </div>
                                    <div class="pmodalbody">
                                        <div class="card border-0 shadow my-2" *ngFor="let item of ingrediant">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6 col-xl-5 py-2 py-lg-0">
                                                        <div class="row">
                                                            <div class="col-6 text-center">
                                                                <div>
                                                                    <p class="mb-0 fontp">ITEM CODE</p>
                                                                    <h6 class="mb-0 fonth6">{{item.id}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <div>
                                                                    <p class="mb-0 fontp">NAME</p>
                                                                    <h6 class="mb-0 fonth6">{{item.name}}</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-xl-5 py-2 py-lg-0">
                                                        <div class="row">
                                                            <div class="col-6 text-center">
                                                                <div>
                                                                    <p class="mb-0 fontp">UNIT PRICE</p>
                                                                    <h6 class="mb-0 fonth6">{{item.unitPrice}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 text-center">
                                                                <div>
                                                                    <p class="mb-0 fontp">SKU</p>
                                                                    <h6 class="mb-0 fonth6">{{item.sku}}</h6>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 py-2 py-xl-0">
                                                        <div class=" text-center">
                                                            <button class="btn btnbg bgprimary text-white btnblock "
                                                                (click)="viewdetails(item)"
                                                                type="submit">Select</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex justify-content-center align-items-center py-5 py-lg-0"
                        *ngIf="ingredientMapping!= null">
                        <div class="w-100">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 d-flex rightborder">
                                        <div class="ml-auto text-right">
                                            <p class="mb1 fontp">Ingrediant Id</p>
                                            <p class="mb1 fontp">Ingrediant Name</p>
                                   
                                        </div>

                                    </div>
                                    <div class="col-6" >
                                        <h6 class="mb2 fonth6">{{ingredientMapping.ingrediantID}}</h6>
                                        <h6 class="mb2 fonth6">{{ingredientMapping.ingrediantName}}</h6>
                              

                                    </div>
                                </div>
                                <div class="my-3 container px-lg-5">
                                    <div>
                                        <div class="form-group">
                                            <input type="number" class="form-control border-0 shadow inpround bglight"
                                                [(ngModel)]="ingredientMapping.value" placeholder="Required Qty">
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn bgprimary btnbg text-white px-5" data-dismiss="modal"
                                                (click)="add();">ADD</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>