<div class="d-flex justify-content-between bgprimary px-md-3 px-2 titlebar"  >
    <div class="d-flex align-items-center">
     <img src="assets/logord.png" alt="" class="img-fluid" width="120"> 
     
    </div>
    <div class="d-flex justify-content-between titlebar-button ">
        <div (click)="button('min')"><img src="assets/min_btn.png" width="30px" alt="" class="img-fluid" >  </div>
        <div (click)="button('max')"><img src="assets/max_btn.png" width="30px"alt="" class="img-fluid"> </div>
        <div (click)="button('close')"><img src="assets/close_btn.png" width="30px" alt="" class="img-fluid"> </div>
        
    </div>
</div>
