<div @fadeout class="h-100 d-flex justify-content-center align-items-center overflowy">
        <div class="m-auto">
    <div>
        <lottie-animation-view [options]="lottieConfig" [width]="400" [height]="300"
            (animCreated)="handleAnimation($event)">
        </lottie-animation-view>
    </div>
    <div class="text-center px-2 px-md-0">
        <h5 class="mb-0 font-weight-bold">WELCOME TO RESTURAA </h5>
    <p class="mb-0 px-3">Please choose your option from the leftside  <span class="menutext ">kitchen Menu</span></p>
    </div>
    </div>
    </div>