.bgcolor{
        font-size: 72px;
        background:linear-gradient(to right, #4526EB,#BB00FE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.heightflow{
    height: 515px;
    overflow-y: auto;
}
