.cardbdr{
    border-radius: 10px;
}
@media(max-width:768px){
    .bleft{
border-right:none !important;
    }
}
.input-group-text{
    border-radius: 50%;
    
}
.bright{
    border-left: .1px solid #aaa;
    border-right: .1px solid #aaa;
}
