<div class="h-100 d-flex justify-content-center align-items-center overflowy">
<div @fade>
        <div>
            <lottie-animation-view [options]="lottieConfig" [width]="350" [height]="250"
                (animCreated)="handleAnimation($event)">
            </lottie-animation-view>
        </div>
        <div class="text-center px-lg-0 px-2">
            <h5 class="mb-0 font-weight-bold">WELCOME TO RESTURA </h5>
        <p class="mb-0 px-3">Please select your option from right side <span class="menutext">POR MENU</span></p>
        </div>
        </div>
    </div>