.cardbdr {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .bleft {
    border-right: none !important;
  }
}
.imground {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 2px solid #ccc;
}
.imgrounda {
  border-radius: 50%;
  width: 124px;
  height: 124px;
  border: 2px solid #ccc;
}
.inpround {
  border-radius: 30px;
  background-color: #f9f9f9;
}
.imgc {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.popupborder {
  border-radius: 10px;
  border: 2px solid #bbb;

  height: 100%;
}
@media (min-width: 777px) {
  .popupborder {
    width: 1120px;
  }
}
.bglight {
  background-color: #f9f9f9;
}
.pmodal {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.pdialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-height: calc(80% - 1rem);
  width: auto;
}
.pcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(80vh - 1rem);
  width: 100%;
  position: relative;
}
.pmodalbody {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-y: auto;
}
.imgtag {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
}
