<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-7 bglight pb-3 h-100 overflow-auto">
            <div @fade>
                <div class="container-fluid px-0 sticky-top ">
                    <div class="row pt-3 bglight">
                        <div class="col-4 d-flex align-items-center">
                            <h6 class="">PRODUCT LIST</h6>
                        </div>
                        <div class="col-8 ">
                            <div class="">
                                <form action="">
                                    <div class="form-group">
                                        <input type="search" class="form-control border-0 shadow inpround" name="search"
                                            placeholder="Search" [(ngModel)]="searchText">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-0">
                    <div *ngIf="products.length==0">
                        <div class="py-3" *ngFor="let item of [1,2,3,4,5,6]">
                            <ngx-content-loading [width]="" [height]="60">
                                <svg:g ngx-circle cy="30" cx="30" r="30" ry="5"></svg:g>
                                <svg:g ngx-rect width="300" height="10" y="10" x="70" rx="5" ry="5"></svg:g>
                                <svg:g ngx-rect width="240" height="10" y="40" x="70" rx="5" ry="5"></svg:g>
                                <!-- <svg:g ngx-rect width="210" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
                                            <svg:g ngx-rect width="240" height="10" y="100" x="0" rx="5" ry="5"></svg:g> -->
                            </ngx-content-loading>
                        </div>
                    </div>
                    <div class="card border-0 shadow my-2 cardbdr" *ngFor="let item of products | filter :searchText">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row ">
                                        <div
                                            class="col-xl-4 col-lg-6 col-4 d-flex align-items-center justify-content-center">
                                            <img [src]="'/api/files/download/'+item?.productImage" alt=""
                                                class="img-fluid rounded-circle imgcircle" width="60">
                                        </div>
                                        <div
                                            class="col-xl-8 col-lg-6 col-8   border-right bleft px-0 d-flex align-items-center ">
                                            <div>
                                                <h6 class="text-success font-weight-bold mb-0 fonth6">
                                                    {{item?.productName}}</h6>
                                                <p class="mb-0 fontp">{{item?.itemcodePrefix}}{{item?.itemCode}}</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 my-2 my-lg-0  ">

                                    <div class="row h-100">
                                        <div class="col-6 d-flex justify-content-center align-items-center text-center">
                                            <div class="text-success ">
                                                <p class="mb-0 fontp ">Amount</p>
                                                <h6>{{item?.productPrice}}</h6>
                                            </div>
                                        </div>

                                        <div
                                            class="col-6 d-flex justify-content-lg-end justify-content-center align-items-center">
                                            <button class="btn btnbgc btnbg " (click)="viewProduct(item);">
                                                View</button>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex justify-content-lg-end justify-content-center">
                                                <button class="btn bgprimary btnbg text-white">Select Customer</button>
                                            </div> -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ngif popup default starting  -->
        <div class="col-sm-5 wholemodal px-0" *ngIf="storetable">
            <div class="wmodal" @fadeout>
                <div class="modalscroll modaldialog mt-0" style="max-height: unset">
                    <div class="modalcontent">
                        <div class="modalheader">
                            <div class="bg-primary text-center">
                                <button class="mb-0 text-white text-center py-2 btn-block btn" (click)="poptable();">ADD
                                    NEW PRODUCT</button>
                            </div>
                        </div>
                        <div class="modalbody px-3 pb-3" *ngIf="productView != null">
                            <div class="mt-3">
                                <div class="imground mx-auto">
                                    <img [src]="'/api/files/download/'+productView?.image"
                                        class="rounded-circle img-fluid mx-auto d-block imgproduct">
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-4 mb-2">
                                <div>
                                    <h5 class=" font-weight-bold mb-0 ">{{productView.productName}}</h5>
                                    <p class="mb-0 fontp">{{productView?.itemcodePrefix}}{{productView?.productID}}</p>

                                </div>
                                <div class="text-success text-right">
                                    <h6 class=" font-weight-bold mb-0 fonth6">offer:{{productView.OfferTittle}}</h6>
                                    <h6 class="mb-0 ">{{productView?.offerValue}}%</h6>
                                </div>
                            </div>
                            <div class="my-4">

                                <p class="text-justify">{{productView?.productDetails}}
                                </p>
                            </div>
                            <div class="my-4">

                                <p class="text-justify">{{productView?.productDetails}}
                                </p>
                            </div>

                            <div>
                                <h6 class="">VARIENTS</h6>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-6 my-1"
                                        *ngFor="let varient of productView.variants">
                                        <div class="card text-center bglight border-0 cardshadow">
                                            <div class="card-body">
                                                <h6 class="fontp ">{{varient.name}}</h6>
                                                <h6 class="mb-0">{{varient.price}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modalfooter " *ngIf="productView != null">
                            <div>
                                <div class="bgight d-flex flex-wrap justify-content-between mt-2 py-4 px-3">
                                    <div class="my-1">

                                        <select class="form-control inpround border-0 btnbg my-1 shadow bglight"
                                            id="sel1" name="sellist1" [(ngModel)]="productView.offer"
                                            (change)="onChange($event.target.value)">
                                            <option>No Offer</option>
                                            <option *ngFor="let off of offers">{{off.offerTittle}}</option>


                                        </select>
                                    </div>
                                    <div class="my-1">
                                        <button class="btn text-white bgprimary btnbg my-1">
                                            Delete
                                        </button>
                                    </div>
                                    <div class="my-1">
                                        <button class="btn text-white bgprimary btnbg px-4 my-1" (click)="prdEdit();">
                                            &nbsp;Edit&nbsp;
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ngif popup  default ending-->
        <!-- ngif popup starting -->
        <div class="col-sm-5 px-0 wholemodal" *ngIf="!storetable">
            <div class="wmodal" @fadeout>
                <div class="modaldialog modalscroll">
                    <form class="modalcontent" (ngSubmit)="formRef.valid &&  updateProduct(formRef.value)"
                        #formRef="ngForm">
                        <div class="modalbody px-3">
                            <div>
                                <h5 class="text-center pt-3">Product Details</h5>
                                <div class="my-3 ">
                                    <div class="imground mx-auto">
                                        <img class="rounded-circle img-fluid mx-auto d-block imgproduct"
                                            [src]="imageUrl" (click)="openFileSelector()">
                                        <input type="file" hidden #fileUpload (change)="fileSelected($event)"
                                            accept="image/*">
                                    </div>
                                </div>
                                <div>

                                    <input type="text" hidden ngModel name="itemCode">
                                    <input type="text" hidden ngModel name="productImage">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control inpround border-0 bglight shadow"
                                                    ngModel name="productName" placeholder="Name">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control inpround border-0 bglight shadow"
                                                    ngModel name="itemcodePrefix" placeholder="Itemcode Prefix">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control inpround border-0 bglight shadow"
                                                    placeholder="Product Nature" ngModel name="productNature">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="number"
                                                    class="form-control inpround border-0 bglight shadow"
                                                    placeholder="Delivery Time" ngModel name="deliveryTime">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="4"
                                            class="form-control  inptextarea border-0 bglight shadow "
                                            placeholder="Description" ngModel name="productDesc"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="number"
                                                    class="form-control inpround border-0 bglight shadow"
                                                    placeholder="Product Price" ngModel name="productPrice">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popupborder p-2">
                                        <h6 class="fonth6 mb-3">ADD VARIENT</h6>
                                        <div>
                                            <div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 ">
                                                            <input type="text"
                                                                class="form-control inpround shadow bglight border-0"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="newVarient.name" placeholder="Name">
                                                        </div>
                                                        <div class="col-sm-6 ">
                                                            <input type="text"
                                                                class="form-control inpround shadow bglight border-0"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="newVarient.price" placeholder="Price">
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group d-flex justify-content-center">
                                                    <button type="button" class="btn bgprimary px-4 btnbg text-white"
                                                        (click)="addvarient()">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid px-2">
                                            <div class="row">
                                                <div class="  col-lg-4 col-md-6  px-2 col-6"
                                                    *ngFor="let item of varient">
                                                    <div class="card border-0 shadow text-center cardbdr bglight my-2">
                                                        <div class="card-body px-1 pt-1">
                                                            <div class="d-flex justify-content-end">
                                                                <button type="button" class=" btn p-1">
                                                                    <img src="assets/close_btn.png" alt=""
                                                                        class="img-fluid" width="30">
                                                                </button>
                                                            </div>
                                                            <h6 class=" mb-0 fonth6">{{item.name}}</h6>
                                                            <h6 class="">{{item.price}}</h6>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modalfooter">
                            <div>
                                <div class="bgight d-flex justify-content-around  mt-2 py-4 px-3">
                                    <div>
                                        <button class="btn text-white bgprimary btnbg px-4" (click)="poptable();">
                                            Cancel
                                        </button>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn text-white bgprimary btnbg px-4">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </form>

                </div>
            </div>
        </div>
        <!-- ngif popup ending -->
    </div>
</div>