<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-8 bglight pb-3 h-100 overflow-auto overx">
            <div class="" @fade>
                <div class="container-fluid px-0 sticky-top ">
                    <div class="row pt-3 bglight">
                        <div class="col-4 d-flex align-items-center">
                            <h6>SKU</h6>
                        </div>
                        <div class="col-8 ">
                            <div class=" ">
                                <form action="">
                                    <div class="form-group">
                                        <input type="search" class="form-control border-0 shadow inpround" name="search"
                                            placeholder="Search" [(ngModel)]="searchText">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid px-0">
                    <div *ngIf="ingredient.length==0">
                        <div class="py-3" *ngFor="let item of [1,2,3,4,5,6]">
                            <ngx-content-loading [width]="" [height]="60">
                                <svg:g ngx-circle cy="30" cx="30" r="30" ry="5"></svg:g>
                                <svg:g ngx-rect width="300" height="10" y="10" x="70" rx="5" ry="5"></svg:g>
                                <svg:g ngx-rect width="240" height="10" y="40" x="70" rx="5" ry="5"></svg:g>
                                <!-- <svg:g ngx-rect width="210" height="10" y="70" x="0" rx="5" ry="5"></svg:g>
                                                    <svg:g ngx-rect width="240" height="10" y="100" x="0" rx="5" ry="5"></svg:g> -->
                            </ngx-content-loading>
                        </div>
                    </div>
                    <div class="card border-0 shadow my-2 cardbdr text-center"
                        *ngFor="let item of ingredient | filter :searchText">
                        <div class="card-body">
                            <div class="row rowh6">
                                <div class="col-lg-5 py-lg-0 py-2">
                                    <div class="row h-100">
                                        <div class="col-6 diflex">
                                            <div>
                                                <h6 class="mb-0 fonth6">ItemCode</h6>
                                                <p class="mb-0 fontp">{{item.id}}</p>
                                            </div>
                                        </div>
                                        <div class="col-6 diflex">
                                            <div>
                                                <h6 class="mb-0 fonth6">ItemName</h6>
                                                <p class="mb-0 fontp">{{item.name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 py-lg-0 py-2">
                                    <div class="row h-100">
                                        <div class="col-5 diflex">
                                            <div>
                                                <h6 class="mb-0 fonth6">UnitPrice</h6>
                                                <p class="mb-0 fontp">{{item.unitPrice}}</p>
                                            </div>
                                        </div>
                                        <div class="col-7 diflex">
                                            <div>

                                                <h6 class="mb-0 fontp">Current SKU/Maximum SKU</h6>
                                                <h6 class="mb-0 fonth6">{{item.currentSKU}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>